/*
Arquivo CSS para configuração de stilos de todo o conteudo
Desenvolvido po Erasmo Cardoso
*/

body{
    width: auto;
    height: auto;
    
   
}
@font-face {
    font-family: Silkscreen-bold;
    src: url(../fonts/Silkscreen/Silkscreen-Bold.ttf );
    font-family: Silkscreen-regular;
    src: url(../fonts/Silkscreen/Silkscreen-Regular.ttf);
  }
  
  h1 h2 h3 h4{
    font-family: Silkscreen-bold;
    text-shadow: 0.1em 0.1em 0.2em rgb(92, 90, 90);
    
  }
img{
    width: 40%;
    height: 50%;
    margin-top: 10%;


}
input{
    background-color: snow;
    width: 340px;
    height: 20px;
    text-align: center;
    font-size: large;
    text-shadow: 0.1em 0.1em 0.2em rgb(92, 90, 90);
      
}


button {
    background-color: #48abe0;
    color: white;
    border: none;
    padding: 5px;
    height: 30px;
    width: 130px;
    box-shadow: 0 2px 4px darkslategray;
    cursor: pointer;
    transition: all 0.2s ease;
    margin-left: 3px;
    margin-right: 3px;
  }
  
  button:active {
    background-color: #48abe0;
    color: red;
    box-shadow: 0 0 2px darkslategray;
    transform: translateY(2px);
  }
  
  button:not(:first-child) {
    margin-top: 10px;
  }
  li {
    text-shadow: 0.1em 0.1em 0.2em rgb(92, 90, 90);
    transition: all .1s;
    list-style-type: none;
    text-decoration: blue;
    font-style: italic bold;
    
    
}


.tela{
 
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: auto;
  grid-template-areas: "img pont res"
                        "um um um"
                        "dois dois dois"
                        "tres tres tres"
   ;
}

.imagem{
    grid-area: img;
    display: flex;
    width: auto;
    height: 300px;
    justify-content: center;  
    border: 1px solid black;
    box-shadow: 10px 10px 10px 10px gray;
    margin: 4%;
    
    
}

.ponto{
    grid-area: pont;
    display: block;
    text-align: center;
    width: auto;
    padding: 5%;
    margin: 4%;
    border: 1px solid black;
    box-shadow: 10px 10px 10px 10px gray;
    
}
.result{
  grid-area: res;
  display: block;
  width: auto;
  margin: 4%;
  justify-content: center;
  box-sizing: border-box;
  text-align: center;
  padding: 3%;
  margin: 4%;
  border: 1px solid rgb(84, 84, 196);
  box-shadow: 10px 10px 10px 10px gray;
}
.um{
    grid-area: um;
    margin-top: 2%;
    text-align: center;
    padding: 3%;
    background-image: linear-gradient(to right top, #d16ba5, 
    #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, 
    #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);

}

.dois{
    grid-area: dois;
    text-align: center;
    padding: 3%;
    margin-top: 2%;
    background-image: linear-gradient(to right top, #5350ec, #0080ff,
     #009ef9, #00b6df, #00c8c5, #00d1b6, #39d99f, #67df82,
      #80e174, #97e365, #afe457, #c6e449);
}

.tres{
    grid-area: tres;
    text-align: center;
    padding: 3%;
    margin-top: 2%;
    background-image: linear-gradient(to bottom, #eeeefa,
     #d9e4fb, #bbddfa, #95d7f3, #6cd1e4, #41cbca, #2fc2a6,
      #44b77b, #6da53a, #958c00, #ba6800, #d92505);
    
}
/* Inicios de mediaquery */
@media only screen and (max-width : 760px){

img{
    margin-top: 5%;
    width: 40%;
    height: 70%;
}

.tela{
    display: grid;
    grid-template-columns: auto; 
    grid-template-rows: auto;
    grid-template-areas:"img "
                        "pont"
                        "res"
                        "um "
                        "dois"
                        "tres"
     ;
  }
  .imagem{
    height: auto;
  }

}


